.con {
  margin: 0 auto;
}

.rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
}

.co-sm-1 {
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
}

.co-sm-2 {
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
}

.co-sm-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.co-sm-4 {
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
}

.co-sm-5 {
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
}

.co-sm-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.co-sm-7 {
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
}

.co-sm-8 {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
}

.co-sm-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.co-sm-10 {
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
}

.co-sm-11 {
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
}

.co-sm-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .co-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
  }

  .co-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
  }

  .co-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }

  .co-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
  }

  .co-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
  }

  .co-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .co-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
  }

  .co-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
  }

  .co-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }

  .co-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
  }

  .co-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
  }

  .co-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) {
  .co-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
  }

  .co-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
  }

  .co-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }

  .co-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
  }

  .co-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
  }

  .co-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .co-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
  }

  .co-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
  }

  .co-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }

  .co-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
  }

  .co-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
  }

  .co-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.con {
  max-width: 0px;
}

@media screen and (min-width: 576px) {
  .con {
    max-width: 576px;
  }
}

@media screen and (min-width: 768px) {
  .con {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .con {
    max-width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .con {
    max-width: 1200px;
  }
}

