.dashboard-sidebar {
    background-color: rgb(0, 0, 0);
	//#2a3f54
    padding-top: 20px;
    min-height: 100vh;
}

.sidebar-content {
   color: #e7e7e7;
   font-size: 13px;
   font-weight: 500;
   padding-left: 15px;
}

.sidebar-content .fa {
	font-size: 14px;
    padding-left: 0px;
    width: 20px;
}

.sidebar-div {

	padding: 10px 15px;
}

.sidebar-div:hover {
  cursor: pointer;
}

.sidebar-div-caret {
	display: flex;
	justify-content: space-between;
}

.sidebar-content a {
   color: inherit;
   text-decoration: none;
}
