#app {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

a {
    color: #6acdf3;
    text-decoration: none !important;
}
a:hover {
    color: #42beef;
}

#xtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#xtable td, #xtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#xtable tr:nth-child(even){background-color: #f2f2f2;}

#xtable tr:hover {background-color: #ddd;}

#xtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.card-header{
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.small-top-padding{
    padding-top: 70px;
}

i.fa{
    padding-left: 40px;
    font-size: 20px;
}


.form-submit {
    margin: 20px auto;
    padding-top: 0px
}

.btn-primary {

    background-color: #6acdf3;
    border-color: #6acdf3;
}

.btn-primary:hover {

    background-color: #42beef;
    border-color: #42beef;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0rem rgba(0,123,255,.5);
    box-shadow: 0 0 0 0rem rgba(0,123,255,.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

    background-color: #42beef;
    border-color: #42beef;
}

.form-header {
    height: 190px;
    background-color: #42beef;
    margin-top: -23px
}

.form-card {
    border-top: 6px solid #FFC258;
    margin-top: -70px;
    margin-bottom: 70px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.form-heading {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding-top: 30px;
}

.form-meta {
    text-align: center;
    font-size: 13px
}

.form-card .btn {
    padding: .375rem 1.75rem;
}

.btn {
    padding: .375rem 1.75rem;
}

/*.minimal-card {
    max-width: 500px;
    margin: 0 auto;
}
*/


.form-control:focus {

    -webkit-box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}



/* homepage */

.hero {

    height: 480px;
    background-image: url("../images/herobg.png");
    background-repeat: no-repeat;

}

.hero-body {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 7% 15px
}

.no-padding {
    padding: 0px;
    margin-top: -23px;
}

.hero-text .heading {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 35px;
    line-height: 50px;
}

.better::after {
    content: '';
    position: absolute;
    background: #42beef;
    width: 100px;

    height: 6px;
    bottom: 53px;
    left: 73px;
}


.secure::after {
    content: '';
    position: absolute;
    background: #42beef;
    width: 116px;

    height: 6px;
    bottom: 53px;
    left: 267px;
}

.hero-text .sub-heading {
    max-width: 320px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: #666666;
}

.hero-text .button {
    padding-top: 20px;
}


.hero-text .button .btn {
    padding: .475rem 2.25rem;
}

.particles-js-canvas-el {
    position: absolute;
    width: 50% !important;
    height: 480px !important;
}


.about-home {
    background: #fafafa;
    padding: 4% 0px 150px;
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 24px;
    color: #011b33;
    text-align: center;
    padding-bottom: 15px
}

.text-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding-bottom: 15px
}

.about-home .subheading {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 15px;
    color: #333333;
    max-width: 800px;
    line-height: 1.6;
    margin: 0 auto;
}

.up45px {
    padding-top: 45px;
}

.about-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: white;
    height: 250px;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;

}

.about-features .icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #6acdf3;
    justify-content: center;
    padding: 10px;
    width: 25%;
    color: white;
}

.about-features .text {
    padding: 15px;
    width: 75%;
}

.plans-text-heading {
    font-family: 'Poppins', sans-serif;
    margin-top: -60px;
    padding-bottom: 40px;
}



.text-content {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #333
}




.skew {
    position: relative;
}
.skewed-border:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -66px;
    height: 200px;
    background: #ffffff;
    transform: skew(0,-5deg);

}

.plans-home {
    background-color: white;
    position: relative;
    padding: 4% 0px;
}

.plan-option {
    position: relative;
    display: flex;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 15px;
    background: #FFFFFF;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
    margin: 10px;
}


.plan-option img {
    display: block;
    margin: 15px auto;
    height: 50px !important;

}


.plan-action {
    margin-top: auto;
    padding-bottom: 20px;
}

.plan-action .active, .plan-action a:hover {
    background: #FFC258;
    border-radius: 5px;
    color: #000000;
    padding: 8px 20px;
}

.plan-action a {
    background: #fff;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #FFC258;
    padding: 8px 20px;
}

.testimonials {
    background-color: #Ffffff;
    position: relative;
    z-index: 3;

}


.testimonial {

    padding: 4% 0px;
    background-color: #42beef;


}


.single-testimonial {

    color: white;
    max-width: 740px;
    padding: 0px 20px;
    margin: 0 auto;
}

.quote-symbol img {
    margin-top: -10px;
}

.testimonials .author  {
    margin-top: 15px;
}

.testimonials .author img {
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials .author .text-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

.skewed-border-two:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    height: 90px;
    z-index: 0;
    background: #ffffff;
    transform: skew(0,-2deg);
}

.sign-up {
    padding: 7% 0px 4%;
    background-color: #f8fbfa;
}

.sign-up .row {
    margin: 0 auto;
    max-width: 760px;
}

.sign-up .buttons {
    padding-top: 20px;
}

.sign-up .login {

    border: 1px solid #6acdf3;
}

.sign-up .login:hover {
    background-color: #42beef;
    border: 1px solid #42beef;
    color: white;

}

.footer {
    padding: 3% 0px 2%;
    background-color: #373737;
    color: white;
    text-align: center;
}

.footer-logo {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    max-width: 110px;
    margin: 0 auto;
}

.footer-socials i.fa {
    padding-left: 0px;
    font-size: 16px;
    color: #373737;
    background-color: white;
    padding: 9px;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.footer-socials i.fa:hover {

    color: #ffffff;
    background-color: #42beef;


}

.flex-box {
    display: flex;
}

.flex-box .plan-option {
    width: 33%;
}

.plan-option .text-content {
    padding-bottom: 30px;
}


/* Responsive css */




@media only screen and (max-width: 1000px) and (min-width: 767px)  {
    
    .flex-box .plan-option {
    width: 50%;
    height: auto;

}


.flex-box {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.plan-option .text-content {
    padding-bottom: 30px;
}

.hero {

    height: 300px;
    background-image: none;
    background-color: white;

}

.particles-js-canvas-el {
    position: absolute;
    width: 100% !important;
    height: 300px !important;
}


    
}


@media(max-width:766px) {

.flex-box .plan-option {
    width: 100%;
    height: auto;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.plan-option .text-content {
    padding-bottom: 30px;
}

.sign-up {
    padding: 20% 0px 10%;
    background-color: #f8fbfa;
}

.hero {

    height: 300px;
    background-image: none;
    background-color: white;

}

.hero-body {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15% 15px
}

.hero-text .heading {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 30px;
}

.better::after {
    
    display: none;
}


.secure::after {
    
    display: none;
}

.hero-text .sub-heading {
    
    font-size: 14px;
    
}

.hero-text .button {
    padding-top: 20px;
}


.hero-text .button .btn {
    padding: .475rem 2.25rem;
}

.particles-js-canvas-el {
    position: absolute;
    width: 100% !important;
    height: 300px !important;
}

.about-home {
    background: #fafafa;
    padding: 12% 0px 150px;
}


.section-header {
    
    font-size: 18px;
    
}



}
    




/* end of homepage */