<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<title></title>
</head>


<body>
	<div style="width:100%; max-width:550px; margin:0 auto; font-family: 'Roboto', sans-serif; font-size: 18px; line-height:1.7em;">
		
		<!--Confirm email-->
		<table style="background:#F2F4F4;">
			<tr style="background:#F2F4F4;">
				<td style="background:#F2F4F4;">
					<!-- CONTENT HERE -->
					<table style="margin: 0 auto; background-color: #fff; margin:30px;" cellpadding="0" cellspacing="0">
                        <tr style="background: #ffffff; background-image: url(/assets/images/confetti-1.png); background-size: cover;">
                            <td style="background: rgba(255,255,255,0.9); font-family: 'Avenir';">
								<div>
									<img src="{{URL}}/assets/images/logo.png" style="width:145px; display: block;padding: 20px;">
								</div>
                                <div>
                                    <div style="margin: 0 0 40px;">
										<div style="background:#EC7063; padding: 16px 0;">
											<h4 style="margin: 0; font-size: 23px; font-weight: 800; text-align: center; color: #FFFFFF">Hello {{NAME}},</h4>
											<hr style="width: 15%; margin: 0 auto; border-top: 4px solid #FFFFFF;">
											<h5 style="margin-top: 15px; font-size: 23px; font-weight: 500; text-align: center;color: #FFFFFF ">{{TITLE}}</h5>
                                        </div>
										<div style="line-height: 1.2; font-size: 14px; line-height: 1.6; margin: 30px 15px 23px; text-align: center;">{{MESSAGE}}</div>
                                        <!--<div style="text-align: center"> <a href="{{URL}}/home" style="background: #EB984E; color:#fff;border-radius: 25px;padding: 13px 15px;font-weight: 600;font-size: 13px;">My Dashboard</a></div>-->
                                        
                                    </div>
                                </div>
                            </td>
                        </tr>


						<!--FOOTER HERE -->
						<tr>
							<td>
								<table style="margin: 0 auto; width:100%; background-color:#EEEEEE;padding-bottom:5px;padding-top:10px;" cellpadding="0"
								 cellspacing="0">
									<tr>
										<td style="text-align:center;padding-top:15px;margin-top:1em;">
											
										</td>
									</tr>
									<tr>
										<td>
											<div style="margin: 0 auto; width: 70%; font-size: 12px; text-align: center;font-family:'Avenir';">
												<p style="margin-top:0.5em; text-align: center;color:#5D6D7E;font-family:'Avenir';">
													<strong>ⓒ Phakom Global Investments LTD</strong>
												</p>
												<p style="margin-top:0.5em;line-height: 1.3; text-align: center;color:#5D6D7E; font-weight: 500;font-family:'Avenir';text-decoration:none;">13 Bode OLABODE street, Off Aboru Road, Iyana ipaja, Lagos state.</p>
                      </div>
                      <hr>
										</td>
									</tr>
									
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>
